.button {
	color: $color;
	display: inline-block;
	font-weight: $fw-heavy;
	padding: 0.625em 0.625em 0.625em 0;

	@media screen and (min-width: 768px) {
		background: $color;
		color: $white;
		font-weight: $fw-normal;
		margin-top: 1em;
		padding: 0.625em;
	}
}