$entry: 'entry';

.#{$entry} {
	font-size: 1.25em;
	margin-top: 0.5em;

	p {
		margin-top: 1em;
	}

	img {
		max-width: 100%;
	}

	@media screen and (min-width: 500px) {
		font-size: 1.5em;
	}
}

.date {
	border-top: 1px solid $black;
	margin-top: 2em;
	padding-top: 0.25em;
}

.family-photo {
	float: left;
	margin: 0.5em 1em 0 0;
	width: percentage(1/2);

	img {
		display: block;
	}

	@media screen and (min-width: 500px) {
		width: percentage(1/3);
	}
}