---
layout: default
---

{% for brand in site.data.projects %}
<section class="portfolio section {{ brand.slug }}" id="{{ brand.slug }}">
	<header>
		<h1>
		{% include svg/{{ brand.slug }}.svg %}
		</h1>
	</header>

	<section class="portfolio__piece">
		<p class="portfolio__piece__date">{{ brand.date }}</p>
		<div class="portfolio__piece__paragraph">
			{{ brand.paragraph }}
		</div>
		<div class="portfolio__piece__screenshot">
			<img src="/images/screenshots/{{ brand.slug }}.jpg" alt="Screenshot of {{ brand.title }} website">
		</div>
	</section>
</section>
{% endfor %}