@import url(https://fonts.googleapis.com/css?family=Cabin:400,700);
/***************/
/* MEYER RESET */
/***************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

::-moz-selection {
  color: #000;
  background: #eee; }

::selection {
  color: #000;
  background: #eee; }

ul, ol {
  margin: 15px 0;
  padding-left: 30px; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

ol ul, ul ol, ul ul, ol ol {
  margin: 0; }

ul ul, ol ul {
  list-style-type: circle; }

em, i {
  font-style: italic; }

strong, b {
  font-weight: bold; }

img {
  max-width: 100%; }

html,
body {
  height: 100%; }

body {
  background: #eef2f3;
  color: #333;
  font-family: "Cabin", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding: 15%;
  position: relative;
  -webkit-transition: 3s background ease;
          transition: 3s background ease; }
  @media screen and (min-width: 768px) {
    body {
      padding: 0; } }
  body:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(35deg, rgba(245, 245, 245, 0.1) 12%, rgba(255, 255, 255, 0.85) 88%);
    background: -webkit-linear-gradient(55deg, rgba(245, 245, 245, 0.1) 12%, rgba(255, 255, 255, 0.85) 88%);
    background: linear-gradient(35deg, rgba(245, 245, 245, 0.1) 12%, rgba(255, 255, 255, 0.85) 88%);
    z-index: 0; }
  body.dennys {
    background: rgba(236, 28, 36, 0.2); }
  body.cit-bank {
    background: rgba(7, 107, 172, 0.2); }
  body.southeastern-mills {
    background: rgba(246, 234, 204, 0.2); }
  body.hunger-crunch {
    background: rgba(87, 195, 203, 0.2); }

.main {
  position: relative;
  z-index: 1; }
  @media screen and (min-width: 768px) {
    .home .main {
      height: 90%; } }

@media screen and (min-width: 768px) {
  .container {
    padding: 2.5em; }
    .home .container {
      height: 100%; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.2;
  margin: 1em 0 15px;
  padding: 0; }

h1 {
  font-size: 125%; }
  h1 a {
    color: inherit; }

h2 {
  font-size: 115%; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px;
  color: #666; }

p {
  margin: 15px 0; }

a {
  color: #4183C4;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:active {
    color: #4183C4; }

small {
  color: #666;
  font-size: 80%; }

.masthead {
  display: table;
  position: relative;
  width: 100%;
  z-index: 1; }
  @media screen and (min-width: 768px) {
    .masthead {
      border-bottom: 1px solid black;
      height: 10%;
      padding: 0 2.5em; } }
  .masthead a {
    letter-spacing: 1px; }

.site-name {
  display: table-cell;
  font-size: 100%;
  font-weight: 300;
  margin: 0;
  vertical-align: middle; }
  .site-name small {
    display: block;
    font-size: 90%; }

.label {
  display: block;
  font-size: 40%;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: .5;
  text-transform: uppercase; }

.list--flex {
  list-style: none;
  margin: 0;
  padding: 0; }
  .list--flex__item {
    padding-left: 14px;
    position: relative; }
    .list--flex__item:before {
      content: '';
      display: block;
      width: 10px;
      height: 1px;
      background: #000;
      position: absolute;
      left: 0;
      top: calc(50% - 1px); }
    .list--flex__item svg {
      display: none; }

img {
  max-width: 100%; }

svg text, svg desc {
  display: none; }

.home footer {
  position: absolute;
  left: 2.5em;
  bottom: 2.5em;
  width: calc(100% - 5em); }
footer p {
  line-height: 1; }

/*# sourceMappingURL=style.css.map */