* {
	box-sizing: border-box;
}

html, body, .header { min-height: 100vh; }

body {
	// color: rgba($black, 0);
	color: $black;
	font: {
		family: $adelle;
		size: 16px;
		weight: $fw-normal;
	}
	padding-left: calc((55em/16) + 2em + 1.5em);
  	padding-right: calc((55em/16) - 2em);
  	position: relative;

  	// transition: .25s color ease;

  	// .wf-loading & { color: rgba($black, 0); }
  	// .wf-active & { color: $black; }
}

main {
	// padding-bottom: 2.5em;

	section ~ section {
		// margin-top: 2.5em;
	}
}