html,
body {
  height: 100%;
}

html {
  font-size: 100%;
}

body {
	background: $lightGray;
  color: $darkGray;
  font: 18px/1.4 $helvetica;
  position: relative;

  &:after {
    content: '';
    border: {
      top-width: 1vh;
      bottom-width: 1vh;
      color: $lightGray;
      style: solid;
    }
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

svg {
  text, desc { display: none; }
}

.main {
  height: 90%;
  padding: 1vh;
}

.content {
  @extend %clearfix;
  height: 100%;
}

.section {
  background: $lightGray;
  border-bottom: 1vh solid $lightGray;
  height: 90%;
  padding: 5vh;
  position: relative;

  &.dennys {
    background: mix($dennys, $darkGray, 65%);
  }

  &.erwin-penland {
    background: mix($erwin-penland, $darkGray, 65%);
  }

  &.cit-bank {
    background: mix($cit-bank, $darkGray, 65%);
  }

  &.southeastern-mills {
    background: mix($southeastern-mills, $darkGray, 65%);
  }

  &.hunger-crunch {
    background: mix($hunger-crunch, $darkGray, 65%);
  }

  h1 {
    margin: 0;
  }

  svg {
    height: 10vh;
    position: relative;
    top: 40%;

    * {
      fill: $lightGray;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 2000px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}