html,
body {
  height: 100%;
}

html {
  font-size: 100%;
}

body {
	background: $white;
  color: $darkGray;
  font: 18px/1.4 $helvetica;
  padding: 6px;
  position: relative;

  &:after {
    border: 6px solid $lightGray;

    content: '';

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    z-index: -1;
  }
}

.main {
  height: 90%;
}

.content {
  @extend %clearfix;
  height: 100%;
}

.showcase {
  border-left: 3px solid  $lightGray;
  float: right;
  height: 100%;
  width: 80%; 
}

.container {
  margin: 0 auto;
  max-width: 2000px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}