$entry: 'entry';

.#{$entry} {
	font-size: 1.25em;

	@media screen and (min-width: 500px) {
		font-size: 1.5em;
	}

	img {
		max-width: 100%;
	}
}

.family-photo {
	float: left;
	margin: 0.5em 1em 0 0;
	width: percentage(1/2);

	img {
		display: block;
	}

	@media screen and (min-width: 500px) {
		width: percentage(1/3);
	}
}