.header {
	border-right: 1px solid $black;
	height: 100%;

	max-width: calc((55em/16) + 2em);
	padding: 1em;
	text-align: center;
	width: 20%;
	

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;

	&__section {
		display: inline-block;
		padding: 1.5em 0;
		text-align: left;
		transform: rotate(180deg);
		-webkit-writing-mode: vertical-rl;

		span {
			&:first-of-type {
				display: block;
				font: {
					size: 70%;
					weight: 300;
				}
				text-transform: uppercase;
			}
		}
	}
}