.masthead {
  background: $lightGray;
  display: table;
  padding: 3em 1em 0.2em 1em;
  position: relative;
  width: 100%;

  a {
    letter-spacing: 1px;
  }
}

.site-name,
.main-nav {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.site-name {
  font: {
    size: 100%;
    weight: 300;
  }
  margin: 0;
}

.main-nav {
  border-left: 0.25em solid darken($lightGray, 10%);
  padding-left: 1em;

  a {
    color: $darkGray;
    text-align: right;
    font-weight: 300;

    ~ a {
      margin-left: 1em;
    }
  }
}

.label {
  display: block;
  font-size: 40%;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: .5;
  text-transform: uppercase;
}