.masthead {
  // border: {
  //   color: $lightGray;
  //   style: solid;
  //   width: 1vh;
  //   bottom-width: 0;
  // }
  background: $lightGray;
  // color: $lightGray;
  display: table;
  height: 10%;
  width: 100%;
}

.site-name,
.main-nav {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.site-name {
  border-right: 3px solid $lightGray;
  font: {
    size: 100%;
    weight: 300;
  }
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
  width: 20%;
}

.main-nav {
  border-left: 3px solid $lightGray;
  width: 80%;

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
  }
}