.main {
  position: relative;
  z-index: 1;
  
  @include medium-screen {
    .home & {
      height: 90%;
    }
  }
}

.container {
  @include medium-screen {
    padding: 2.5em;

    .home & {
      height: 100%;
    }
  }
}