.list {
	&--inline {
		&__item {
			display: inline-block;

			~ &__item {
				margin-left: 1em;
			}
		}
	}
	
	&--social {
		// text-align: center;

		.header & {
			bottom: 1em;
			left: 10%;
			position: absolute;
			width: 80%;
		}

		&__item {
			display: inline-block;
			// padding: 0 35%;
			// width: 100%;
			height: 1.5em;
			margin: 0 0 0 3px;

			transition: .2s all ease;
			
			@media screen and (max-width: 499px) {
				// margin-bottom: 1.5em;
			}

			@media screen and (min-width: 500px) {
				// padding: calc(1em/2) calc(1em/3);
				// width: 45%;
			}

			&__icon {
				display: block;
				height: 100%;

				* { fill: $black; }
			}

			&__link {
				// display: block;
				// line-height: 0;
				margin: 0 auto;

				&:hover,
				&:focus {
					* {
						fill: $color;
					}
					// &.dribbble {
					// 	* {
					// 		fill: $dribbble;
					// 	}
					// }
					// &.email {
					// 	* {
					// 		fill: $email;
					// 	}
					// }
					// &.facebook {
					// 	* {
					// 		fill: $facebook;
					// 	}
					// }
					// &.github {
					// 	* {
					// 		fill: $github;
					// 	}
					// }
					// &.instagram {
					// 	* {
					// 		fill: $instagram;
					// 	}
					// }
					// &.twitter {
					// 	* {
					// 		fill: $twitter;
					// 	}
					// }
					// &.stack-overflow {
					// 	* {
					// 		fill: $stack-overflow;
					// 	}
					// }
				}
			}
		}
	}
}