.list {
	&--inline {
		&__item {
			display: inline-block;

			.meta & {
				margin-right: 0.5em;
			}
		}
	}

	&--social {
		display: -webkit-flex;display: -ms-flexbox;display: flex;

		.header & {
			bottom: 1em;
			left: 10%;
			position: absolute;
			width: 80%;
		}

		&__item {
			display: block;
			height: 3vw;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 0 auto;

			transition: .2s all ease;

			&__icon {
				display: block;
				height: 100%;

				* { fill: $black; }
			}

			&__link {
				// display: block;
				// line-height: 0;
				margin: 0 auto;

				&:hover,
				&:focus {
					* {
						fill: $color;
					}
					// &.dribbble {
					// 	* {
					// 		fill: $dribbble;
					// 	}
					// }
					// &.email {
					// 	* {
					// 		fill: $email;
					// 	}
					// }
					// &.facebook {
					// 	* {
					// 		fill: $facebook;
					// 	}
					// }
					// &.github {
					// 	* {
					// 		fill: $github;
					// 	}
					// }
					// &.instagram {
					// 	* {
					// 		fill: $instagram;
					// 	}
					// }
					// &.twitter {
					// 	* {
					// 		fill: $twitter;
					// 	}
					// }
					// &.stack-overflow {
					// 	* {
					// 		fill: $stack-overflow;
					// 	}
					// }
				}
			}
		}
	}
}