.project {
	&__credit {
		margin-right: 0.5em;
	}
}

.meta {
	font-size: 0.825em;
}

.screenshots {
	display: -webkit-flex;display: -ms-flexbox;display: flex;
}

.screenshot {
	border: {
		color: $white;
		width: 1em;
		style: solid;
	}
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19),
				0 6px 6px rgba(0,0,0,0.23),
				0 0 1px rgba($black, 1),
				inset 0 0 1px $black;
	height: 25em;
	overflow: scroll;

	span {
		border-radius: 1px;
		display: block;
		position: relative;
		z-index: -1;
	}

	img {
		display: block;
		width: 100%;
	}

	&--desktop {
		margin-right: 0.5em;
		width: 70%;
	}

	&--mobile {
		margin-left: 0.5em;
		width: 30%;
	}
}