@keyframes scroll {
	100% {
		background-position: 0 100%;
	}
}

$section: 'section';

.#{$section} {
	~ .#{$section} {
		@media screen and (min-width: 1000px) {
			border-top: 1px solid $black;
			margin-top: 2.5em;
			padding-top: 2.5em;
		}
	}

	&.meta {
		margin-bottom: 1em;
	}

	.projects & {
		position: relative;

		.#{$section}__title {
			margin-bottom: 0;
		}
	}

	&__title {
		font-size: 1.15em;
		line-height: 0.9;
		margin-bottom: 0.25em;

		&--secondary {
			font-size: 1.15em;
			line-height: 1;
			margin-bottom: 0.25em;

			@media screen and (min-width: 500px) {
				font-size: 1.5em;
			}
		}

		a {
			display: inline-block;
			position: relative;
			transition: color .25s ease .15s;

			&:after {
				bottom: 0;
				color: black;
				content: attr(data-title);
				display: block;
				height: 0;
				opacity: 0;
				left: 0;
				overflow: hidden;
				position: absolute;
				transition: opacity .25s ease, height .25s ease .25s;
				z-index: 3;
			}

			&:hover {
				color: black;

				&:after {
					bottom: auto;
					height: 100%;
					top: 0;
					opacity: 1;
					transition: opacity .25s ease, height .25s ease;
				}
			}
		}

		@media screen and (min-width: 450px) {
			font-style: 1.5em;
		}

		@media screen and (min-width: 768px) {
			display: inline-block;
			font-size: 3.5em;
			vertical-align: baseline;

			+ p {
				font-size: 0.825rem;
				font-weight: $fw-normal;
			}
		}
	}
}