@keyframes scroll {
	100% {
		background-position: 0 100%;
	}
}

$section: 'section';

.#{$section} {
	~ .#{$section} {
		margin-top: 2.5em;
		padding-top: 2.5em;
	}

	&.meta {
		margin-bottom: 1em;
	}

	.projects & {
		position: relative;
		z-index: 0;
		transition: 250ms all ease;

		$projects: hunger-crunch southeastern-mills denny-s erwin-penland cit-bank;

		@each $project in $projects {
			&.#{$project} {
				background: url("/images/screenshots/#{$project}.jpg") no-repeat center top;
				background-size: 150% auto;
			}
		}

		animation: {
			direction: alternate;
			duration: 120s;
			iteration-count: infinite;
			name: scroll;
			play-state: paused;
			timing-function: linear;
		}

		* {
			position: relative;
			z-index: 2;
		}

		&:after {
			content: '';
			background: $white;
			position: absolute;
			top: 0;left: 0;
			width: 100%;
			height: 100%;
			transition: 250ms background ease;
			z-index: 1;
		}

		&:hover {
			// animation-play-state: running;
			background-size: 100% auto;

			&:after {
				// background: rgba($white, .95);
			}

			.#{$section}__title {
				// transform: translateX(2.5%);
			}
		}
	}

	~ .section {
		border-top: 1px solid $black;
	}

	.#{$section}__title {
		transition: .3s ease all;

		a {
			display: inline-block;
			position: relative;
			transition: color .25s ease .15s;

			&:after {
				bottom: 0;
				color: black;
				content: attr(data-title);
				display: block;
				height: 0;
				opacity: 0;
				left: 0;
				overflow: hidden;
				position: absolute;
				transition: opacity .25s ease, height .25s ease .25s;
				z-index: 3;
			}

			&:hover {
				color: black;

				&:after {
					bottom: auto;
					height: 100%;
					top: 0;
					opacity: 1;
					transition: opacity .25s ease, height .25s ease;
				}
			}
		}
	}

	&__title {
		font-size: 1.5em;
		line-height: 1;
		margin-bottom: 0.25em;

		@media screen and (min-width: 500px) {
			display: inline-block;
			font-size: 3.5em;
			vertical-align: baseline;

			+ p {
				font-size: 0.825rem;
				font-weight: $fw-normal;
			}
		}

		&--secondary {
			font-size: 1.15em;
			line-height: 1;
			margin-bottom: 0.25em;

			@media screen and (min-width: 500px) {
				font-size: 1.5em;
			}
		}
	}
}