.showcase {

	&__hero {
		display: block;
		margin: 2em auto 1em;
		height: 5em;
	}

	&__title {
		margin: 0;
	}

	@include medium-screen {
		&__screenshots {
			border: 1em solid;
			border-color: rgba(darken($dennys, 15%), .15);
			border-radius: 2px;
			height: 30em;
			margin: 0 auto;
			max-width: 1000px;
			overflow: scroll;

			#dennys & {
			  border-color: rgba($dennys, .2);
			}

			#cit-bank & {
			  border-color: rgba($cit-bank, .2);
			}

			#southeastern-mills & {
			  border-color: rgba($southeastern-mills, .2);
			}

			#hunger-crunch & {
			  border-color: rgba($hunger-crunch, .2);
			}
		}
	}

	@include large-screen {
		max-width: 1000px;
		margin: 0 auto;

		&__screenshots {
			height: auto;

			img {
				display: block;
				margin: 0;
			}
		}
	}
	
}