h1, h2, h3, h4, h5, h6 {
	font-weight: $fw-heavy;
}

a {
	text-decoration: none;
	color: $color;
	// color: rgba($color, 0);

	// transition: .25s color ease;

	// .wf-loading & { color: rgba($color, 0); }
	// .wf-active & { color: $color; }
}