
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// $dennys: #EC1C24;
$dennys: #EC1C24;
$erwin-penland: #961613;
$cit-bank: #076BAC;
// $southeastern-mills: #605851;
$southeastern-mills: #F6EACC;
$hunger-crunch: #57C3CB;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$cabin: 'Cabin', 'Helvetica Neue', sans-serif;
$weight-normal: 400;
$weight-bold: 700;

// Mobile breakpoints
@mixin medium-screen {
  @media screen and (min-width: 768px) {
    @content;
  }
}