<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  </head>

  <body class="layout--{{ page.bodyClass }}">
    <header class="header">
      <span class="header__section">
        <h1 class="site-name">
          <span>Focus:</span>
          <span>Front-end Programming</span>
        </h1>
      </span>

      <span class="header__section">
        <h1 class="site-name">
          <span>Name:</span>
          <span><a href="{{ site.baseurl }}/">{{ site.name }}</a></span>
        </h1>
      </span>
    </header>

    <main id="main" role="main" class="main">

      <article class="article--home">
        <section class="section about-section">
          <header>
            <h2 class="section__title">About Me</h2>
          </header>
          <p>Some information about you!</p>
          <p>A place to include any other types of information that you'd like to include about yourself.</p>

          <a class="button" href="/about">Read more</a>
        </section>

        <section class="section projects-section">
          <header>
            <h2 class="section__title">Projects</h2>
          </header>
          <ul style="width: 48%; display: inline-block; vertical-align: top;">
            <li>Commercial Projects:</li>
            {% assign projects = site.projects | sort: 'orderId' %}
            {% for project in projects %}
              <li>
                <a href="{{ project.url }}">{{ project.title }}</a>
              </li>
            {% endfor %}
          </ul>

          <ul style="width: 48%; display: inline-block; vertical-align: top;">
            <li>Open-Source Projects:</li>
            {% assign projects = site.open-source-projects | sort: 'orderId' %}
            {% for project in projects %}
              <li>
                <a href="{{ project.url }}">{{ project.title }}</a>
              </li>
            {% endfor %}
          </ul>

          <a class="button" href="/projects">See all projects</a>
        </section>

        <section class="section blog-section">
          <header>
            <h2 class="section__title">Blog</h2>
          </header>

          {% for post in site.posts limit:1 %}
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <div class="post-excerpt">
              {{ post.excerpt | remove: '<p>' | remove: '</p>' }} ///
              <a href="{{ site.baseurl }}{{ post.url }}">Read more...</a>
            </div>

          {% endfor %}

          <a class="button" href="/blog">See all posts</a>
        </section>
      </article>

      {{ content }}
      <!-- <article class="article--home">

      </article> -->
    </main>

    <footer>
    </footer>

    {% include analytics.html %}
  </body>
</html>
