<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}
    {% include favicons.html %}

    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  </head>

  <body class="layout--{{ page.bodyClass }} {{ page.title | slugify }}">
    <header class="header">
      <span class="header__section">
        <h1 class="site-name">
          <span>Focus:</span>
          <span>Front-end Programming</span>
        </h1>
      </span>

      <span class="header__section">
        <h1 class="site-name">
          <span>Name:</span>
          <span><a href="{{ site.baseurl }}/">{{ site.name }}</a></span>
        </h1>
      </span>
    </header>

    <main id="main" role="main" class="main">

      <article class="article--home">
        <section class="section about-section nav-section">
          <header>
            <h2 class="section__title">
              <a data-title="About Me" href="/about">About Me</a>
            </h2>
          </header>

          <h3>Hey, I'm Tyler! Thanks for stopping by.</h3>
          <p>Take a look around at a few projects I've worked on and even fewer blog posts. More where both of those came from soon.</p>

          <a class="button" href="/about">Read more</a>
        </section>

        <section class="section projects-section nav-section">
          <header>
            <h2 class="section__title">
              <a data-title="Projects" href="/projects">Projects</a>
            </h2>
          </header>

          <section class="section half">
            <ul class="column">
              <li>Commercial Projects:</li>
              {% assign projects = site.projects | sort: 'orderId' %}
              {% for project in projects %}
                <li>
                  <a data-project="{{ project.title | slugify }}" href="{{ project.url }}">{{ project.title }}</a>
                </li>
              {% endfor %}
            </ul>

            <ul class="column">
              <li>Open-Source Projects:</li>
              {% assign projects = site.open-source-projects | sort: 'orderId' %}
              {% for project in projects %}
                <li>
                  <a data-project="{{ project.title | slugify }}" href="{{ project.url }}">{{ project.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </section>

          <a class="button" href="/projects">See all projects</a>
        </section>

        <section class="section blog-section nav-section">
          <header>
            <h2 class="section__title">
              <a data-title="Blog" href="/blog">Blog</a>
            </h2>
          </header>

          {% for post in site.posts limit:1 %}
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <div class="post-excerpt">
              {{ post.excerpt | remove: '<p>' | remove: '</p>' }} ///
              <a href="{{ site.baseurl }}{{ post.url }}">Read more...</a>
            </div>

          {% endfor %}

          <a class="button" href="/blog">See all posts</a>
        </section>

        <footer class="footer--main">
        <p>
          <small>I last pushed code to this site in {{ site.time | date: '%Y' }}. <span style="color: #0BBD88">Green</span> is 022488 in hybrid-hex format.</small>
        </p>
        <p>
          <small>You can <a href="https://github.com/tylersloan/tylersloan.github.io">push code to it</a> too, if you want. Or, you can <a href="mailto:tyler.g.sloan@gmail.com">email me and hire me</a>.</small>
        </p>
        </footer>
      </article>

      {{ content }}
    </main>

    {% include analytics.html %}
  </body>
</html>
