<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <script>
      (function(d) {
        var config = {
          kitId: 'gug2vvu',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
  </head>

  <body>
    <header class="header">
      <span class="header__section">
        <h1 class="site-name">
          <span>Focus:</span>
          <span>Front-end Programming</span>
        </h1>
      </span>

      <span class="header__section">
        <h1 class="site-name">
          <span>Name:</span>
          <span><a href="{{ site.baseurl }}/">{{ site.name }}</a></span>
        </h1>
      </span>

      <ul class="list--social">
        {% include svg-icons.html %}
        <li>
          <span class="header__section">
            <h1 class="site-name">
              <span>Online:</span>
              <span>I'm pretty normal, see?</span>
            </h1>
          </span>
        </li>
      </ul>
    </header>

    <main id="main" role="main" class="template--{{ page.bodyClass }}">
      {{ content }}
    </main>
    
    <footer></footer>

    {% include analytics.html %}
  </body>
</html>
