---
layout: default
---

<section class="content">
	<nav class="brands">
		{% for brand in site.data.brands-nav %}
		  <a href="{{ site.baseurl }}/worked-on/{{ brand.slug }}" class="brands__item js-brand-item">
			<div class="brands__item__content">
				<img class="brands__item__logo" src="{{ site.baseurl }}/images/logos/{{ brand.slug }}.svg" alt="">
				<span class="brand-item__title">{{ brand.title }}</span>
			</div>
		</a>
		{% endfor %}
	</nav>

	<article class="showcase">
		{{ content }}
	</article>
</section>