---
layout: default
---

<section class="content">
	<nav class="brands">
		{% for brand in site.data.brands-nav %}
		<a href="{{ site.baseurl }}/worked-on/{{ brand.slug }}" class="brands__item brands__item--{{ brand.slug }} {% if brand.title == page.title%}active{% endif %} js-brand-item">
			<div class="brands__item__content">
				{% include svg/{{ brand.slug }}.svg %}
			</div>
		</a>
		{% endfor %}
	</nav>

	<article class="showcase">
		<header class="showcase__header">
			<img src="{{ site.baseurl }}/images/logos/{{ page.hero }}" alt="" class="showcase__hero">
			<h1 class="showcase__title">{{ page.title }}</h1>
		</header>

		<main class="showcase__content">
			<p>{{ page.opener }}</p>

			<section class="showcase__screenshots">
				{% for screeny in page.screenshots %}
				<figure class="showcase__figure">
					<img src="{{ site.baseurl }}/images/screenshots/{{ page.slug }}/{{ screeny.image }}" alt="{{ screeny.caption }}">
					<figcaption>{{ screeny.caption }}</figcaption>
				</figure>
				{% endfor %}
			</section>
			
		</main>

		{% if page.footer %}
		<footer class="showcase__footer">
			{{ page.footer }}
		</footer>
		{% endif %}
	</article>
</section>