---
layout: default
bodyClass: layout-project
---

<article class="project section article--home">
  <header>
    <h2 class="section__title">
      {{ page.title }}
    </h2>
    <p class="link"><a href="{{ page.liveUrl }}" target="_blank">View Live Site</a></p>
  </header>

  <main>
    <section class="section meta">
      <ul class="list--inline">
        <li class="list--inline__item">
          {% if page.client %}<span class="project__credit">Client: {{ page.client }}</span>{% endif %}
        </li>
        <li class="list--inline__item">
          {% if page.company %}<span class="project__credit">While at {{ page.company }}</span>{% endif %}
        </li>
        <li class="list--inline__item">
          {% if page.designer %}<span class="project__credit">Designed by {{ page.designer }}</span>{% endif %}
        </li>
      </ul>

      <ul class="list--inline">
        <li class="list--inline__item">Tools used:</li>
        {% for tech in page.technologies %}
        <li class="list--inline__item">{{ tech }}</li>
        {% endfor %}
      </ul>
    </section>

    <section class="screenshots">
      <div class="screenshot screenshot--desktop">
        <span><img src="/images/screenshots/{{ page.title | slugify }}/{{ page.screenshots[0] }}" alt=""></span>
      </div>
      <div class="screenshot screenshot--mobile">
        <span><img src="/images/screenshots/{{ page.title | slugify }}/{{ page.screenshots[1] }}" alt=""></span>
      </div>
    </section>

    <section class="section">
      <h3 class="section__title--secondary">Southeastern Mills is Cool</h3>
      {{ content }}
    </section>
  </main>

  <footer></footer>
</article>