---
layout: default
bodyClass: layout-project
---

<article class="project section">
  <header>
    <h2 class="section__title">
      {{ page.title }}
    </h2>
  </header>
  
  <main>
    <ul class="list--inline">
      {% for tech in page.technologies %}
      <li class="list--inline__item">{{ tech }}</li>
      {% endfor %}
    </ul>

    <section class="screenshots">
      <div class="screenshot screenshot--desktop">
        <img src="/images/screenshots/{{ page.title | slugify }}/{{ page.screenshots[0] }}" alt="">
      </div>
      <div class="screenshot screenshot--mobile">
        <img src="/images/screenshots/{{ page.title | slugify }}/{{ page.screenshots[1] }}" alt="">
      </div>
    </section>

    {{ content }}
  </main>

  <footer></footer>
</article>