---
layout: default
bodyClass: layout-project
---

<article class="project section article--home">
  <header>
    <h2 class="section__title">
      {{ page.title }}
    </h2>
    <p class="link"><a href="{{ page.liveUrl }}" target="_blank">View Live Site</a></p>
  </header>

  <main>
    <section class="section meta">
      <ul class="list--inline">
        <li class="list--inline__item">
          {% if page.client %}<span class="project__credit">Client: {{ page.client }}</span>{% endif %}
        </li>
        <li class="list--inline__item">
          {% if page.agency %}<span class="project__credit">Agency: {{ page.agency }}</span>{% endif %}
        </li>
      </ul>

      <ul class="list--inline">
        <li class="list--inline__item">Tools used:</li>
        {% for tech in page.technologies %}
        <li class="list--inline__item">{{ tech }}</li>
        {% endfor %}
      </ul>
    </section>

    <section class="screenshots">
      <figure class="screenshot--desktop">
        <div class="screenshot">
          <span><img src="/images/screenshots/{{ page.title | slugify }}/desktop.jpg" alt="Screenshot of {{ page.title }} desktop view."></span>
        </div>
        <figcaption class="hidden-text">Screenshot of {{ page.title }} desktop&nbsp;view.</figcaption>
      </figure>
      <figure class="screenshot--mobile">
        <div class="screenshot">
          <span><img src="/images/screenshots/{{ page.title | slugify }}/mobile.jpg" alt="Screenshot of {{ page.title }} mobile view."></span>
        </div>
        <figcaption class="hidden-text">Screenshot of {{ page.title }} mobile&nbsp;view.</figcaption>
      </figure>
    </section>

    <section class="section">
      <h3 class="section__title--secondary">{{ page.title }} is Cool</h3>
      {{ content }}
    </section>
  </main>

  <footer></footer>
</article>